*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container
{
    display: flex;
    justify-content: space-between;
}
div.left
{
    min-height: 100vh;
    padding: 10px 0px;
    background-color: rgba(230, 230, 230, 0.466);
    width: 18%;
}
div.left h4
{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 20px;
}
div.left ul.list_choice
{
    list-style-type: none;
}
div.left ul.list_choice li a
{
    padding: 10px 10px;
    display: block;
    text-align: center;
    font-size: 17px;
    color: #333;
}
div.left ul.list_choice li.hoso
{
    background-color: rgb(220, 44, 44);
}
div.left ul.list_choice li.hoso a
{
    color: white;
}
div.right
{
    width: 82%;
}
div.display_inf{
    display: flex;
    margin-top: 40px;
    font-size: 17px;
    align-items: center;
}
div.display_inf span{
    display: block;
    width: 120px;
}
div.display_inf input{
    flex: 1;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 7px 0px;
    padding-left: 10px;
    font-size: 17px;
}
div.right h3{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}
div.profile_user{
    width: 400px;
    margin: auto;
    display: block;
}
div.profile_change_pass{
    width: 400px;
    margin: auto;
    display: none;
}
input.btn_save
{
    display: block;
    text-decoration: none;
    font-size: 17px;
    margin-top: 30px;
    width: 80px;
    padding: 10px 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: rgb(239, 80, 80);
    border-radius: 5px;
    border: none;
    color: white;
}
input.btn_save:hover
{
    background-color: rgb(244, 108, 108);
}
